
<h3>Malware traffic detection and classification. </h3>
<h4>Datasets: </h4>
<ul>
    <li>
        Malware: 
        <ul>
            <li> https://www.malware-traffic-analysis.net/ (MTA) </li>
            <li> https://github.com/yungshenglu/USTC-TFC2016 (USTC) </li>
        </ul>
    </li>
    <li>
        Benign: 
        <ul>
            <li> https://www.unb.ca/cic/datasets/vpn.html (ISCXVPN2016) </li>
            <li> https://www.stratosphereips.org/datasets-normal (StratosphereIPS) </li>
            <li> TEMU2016 </li>
        </ul>
    </li>
</ul>
<br>

Total of 8 phases, 4 validation sets and 4 test sets.

<p>
Ariel University 2021
</p>