<img src="./../images/logo/cyber_ariel.png" alt="Logo">
<p>
    Ariel cyber innovation center constitutes a hub for theoretical and applied research activities, supports and promotes the cyber array in the academic sphere, initiates cooperation with bodies in the government, business and public sectors, through scientific cooperation with academics and research institutes and provides trainings and courses based on real cyberattack simulations in Israel and abroad.

 

    The Center focuses on developing abilities for protection and development of systems resistant to cyber-attacks: development of multi-layered systems that integrate hardware, software and users. The systems work in a communication environment with high user volume. In the laboratory framework subjects of interest will also be developed, such as: strength assessment, strength enhancement, development of the ability to analyze and identify weaknesses in systems, protocols and human-machine interface, and programming of resistant architecture. In addition, the undergraduate students consolidate their cyber studies with the Department of Mathematics and Computer Sciences.
    
    
    Ariel Cyber Innovation Center operates a unique simulator (trainer) based on the technology of CyberBit, the daughter company of Elbit Systems which is associated with the Computer Sciences Department of Ariel University.
    The simulator constitutes practical training for cyber teams who deal with cyber warfare and defense, SOC information security experts, and network management and administrators. The participants execute hands-on training exercises in which they encounter advanced attack scenarios in a realistic and secure environment, with the guidance of our cyber experts.
</p>