<p>
    By using the example notebook provided in class, a predictions.txt file will be generated for you to submit.
    Please choose the correct phase according to your generations.
    Phases are divided into Validation/Test, Detection/Classification, MTA/USTC.

    Note that validation phases are private and the leaderboard scores are not shared.
</p>

<h3> Steps: </h3>
<ol>
    <li> Select a Phase. </li>
    <li> Upload your submission file (predictions.txt). </li>
    <li> Select Public/Private leaderboard submission option. </li>
    <li> Click submit. </li>
</ol>
    
